main.hero{
  margin: auto;
  width: 80%;
  max-width: 1280px;
  height: 100vh;
  max-height: 640px;
  padding: 32px 0;

  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;

  overflow: hidden;
}

.hero-item{
  width: 100%;
  min-height: 0;
  height: 100%;
}

.hero-img{
  border-radius: 32px;
  object-fit: cover;
}

.hero-title-section{
  display: flex;
  justify-content: center;
  align-items: center;

  & .hero-title{
    font-size: 56px;
    font-family: 'Sora', Impact, sans-serif;
    text-align: right;

    & span{
      background-color: #f85a32;
      color: #fff4f0;
      padding: 0 16px 4px;
    }
  }
}
