main.hero{
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 32px;

  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;

  overflow: hidden;
}

.hero-item{
  width: 100%;
  min-height: 0;
  height: 100%;
}