.main-header{
  position: sticky;
  top: 0;
  
  width: 100%;
  height: auto;

  background-color: #fff;
  backdrop-filter: blur(2px);

  z-index: 2;
}

.header-content{
  margin: auto;
  height: 4rem;
  width: 80%;
  max-width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo{
  height: 80%;
}

.header-navbar{
  display: flex;
  gap: 16px;

  & .header-navbar-item{
    list-style-type: none;
    
    & a{
      position: relative;
      padding: 4px 8px 4px 4px;

      font-weight: 600;
      font-size: 16px;
      text-decoration: none;

      color: #222;
      outline: none;

      transition: color .4s;

      &:hover{
        color: #f85a32;
      }
    }
  }
}

.contact .contact-button{
  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;

  font-size: 16px;
  font-weight: 600;

  background-color: transparent;
  color: #f85a32;
  border: 2px solid #f85a32;
  border-radius: 14px;
  outline: none;

  cursor: pointer;
  transition: color .4s;
  overflow: hidden;

  &:hover{
    color: #fff;
  }

  &::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 0;
    background-color: #f85a32;
    border-radius: 12px;
    z-index: -1;

    transition: width .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover::before{
    width: 100%;
  }
}